body{
    margin: O;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.form-jeu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-jeu button {
    margin-bottom: 2vh;
}
.form-jeu select{
    margin-bottom: 2vh;
}
.form-jeu label{
    margin-bottom: 2vh;
}
.form-lvl {
    display: flex;
    flex-direction: column;
}

.table-memory {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
}