/* 
SOMMAIRE

- GENERAL
- INDEX
- ACCUEIL JEU 
*/



/* GENERAL */

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: Titreprincipal;
    src: url(Fonts/PPRightGroteskText-CompactMedium\ copie.otf);
}

@font-face {
  font-family: bouton;
  src: url(Fonts/PPRightGroteskText-WideBold\ copie.otf);
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

header {
  background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5%; 
}

nav li {
    margin-left: 5%;
}

input {
  border: none;
  border-bottom: solid black 1px;
}

/* INDEX */

.landing-page{
    margin: 5%;
    padding-top: 8%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
}

.carousel-wrapper {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
}
.carousel {
    /* display: inline-block; */
    display: flex;
    /* flex-direction: row; */
    animation: sliding 12s infinite;
}

.carousel-wrapper img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
}

@keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-100%);
    }
    65% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(-200%);
    }
    98% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

.titre-index {
    position: absolute;
    width: 50%;
    top: -1%;
    left: 21%;
    font-size: 10rem;
    color: rgb(206, 55, 55);
    font-family: Titreprincipal;

}

.texte-index {
    width: 30%;
    text-align: justify;
    margin-right: 5%;
    margin-bottom: 5%;
}

#bouton-index {
  width: 70%;
  margin-top: 5%;
  font-family: bouton;
}
#arrow {
  position: absolute;
  margin-left: 1%;
}
#bouton-index:hover #arrow {
  animation: test 1s ease-in-out 0s 1 normal forwards;
}
@keyframes test {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}

.museum-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.square-colour-yellow {
  background-color: rgb(219, 202, 107);
  height: 300px;
  width: 250px;
  margin-bottom: 2%;
  filter: drop-shadow(
    1px 2px 4px hsl(0deg 0% 66%)
  );
}
.square-colour-blue {
  background-color: rgb(121, 147, 219);
  height: 300px;
  width: 250px;
  margin-bottom: 2%;
  filter: drop-shadow(
    1px 2px 4px hsl(0deg 0% 66%)
  );
}
.square-colour-red {
  background-color: rgb(206, 55, 55);
  height: 300px;
  width: 250px;
  filter: drop-shadow(
    1px 2px 4px hsl(0deg 0% 66%)
  );
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 250px;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.titre-expo {
  color: white;
  font-family: bouton;
  margin: 8%;
}
.txt-expo p{
  margin: 10%;
  text-align: justify;
  overflow-y:scroll;
}
.square-colour-red:hover .txt-expo  {
  visibility: visible;
  opacity: 1;
}

footer img{
  margin: 1%;
  padding-top: 4%;
}


/* ACCUEIL JEU */

.img-game {
  display: flex;
  justify-content: center;
}

.accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.entry-game {
  width: 25vw;
  text-align: justify;
}
.gogame{
  width: 22vw;
  font-size: 5rem;
}

.top-game {
  border: solid black 1px;
  padding: 3%;
}

/* INSCRIPTION */

.inscription-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icons-header {
  display: flex;
  flex-direction: column-reverse;
}
.icons-header img {
  width: 15vw;
  margin-bottom: 5vh;
}

.form {
  width: 15vw;
  padding: 5%;
  border: solid black 1px;
}
.form input {
 margin-bottom: 5vh;
}
.form button {
  text-align: center;
  width: 70%;
}